@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}
@section Stylesheets
{
    <link rel="stylesheet" href="~/css/login.css"/>
}
<div class="row">
    <div class="col">

    </div>
    <div class="col">
        <div class="d-flex flex-column">
            <div class="text-center">
                <h1 class="display-2 mb-4">H1 Title</h1>
            </div>
            <button class="btn btn-primary mb-2">Play online</button>
            <button class="btn btn-primary">Play offline</button>
        </div>
    </div>
</div>

