html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


@media (max-width: 576px) {
    .navbar-nav-font {
        font-size: 25px !important;
    }
}


.indicator {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: grey;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.enemy-indicator {
    position: absolute;
    width: 20px;
    height: 20px;
    color: red;
    font-size: 20px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 20px;
}

.board-b72b1 {
    border-width: 6px !important;
    border-color: cornsilk !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) !important;
}

#chessBoard .white-1e1d7 {
    background-color: #adbd8f !important; /* Light green for white squares */
}

#chessBoard .black-3c85d {
    background-color: #6f8f72 !important; /* Dark green for black squares */
}

#chessBoard .greyed-square {
    background-color: #7e8a68 !important; /* Light blue for highlighted squares */
}

#chessBoard .black-3c85d.greyed-square {
    background-color: #475c49 !important; /* Darker light blue for black highlighted squares */
}

#chessBoard .enemy-piece {
    background-color: #dc3545 !important; /* Red for enemy pieces */
}


@media (min-width: 768px) and (max-width: 1024px) {
    /* Your styles for medium screens go here */
    #boardSideBar {
        height:fit-content;
     
    }
}
@media (min-width: 992px) {
    #boardSideBar {
        height: 100%;
    }
}

.navbar {
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1) !important;
}