@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Play offline"];
}
@section Stylesheets
{
    <link rel="stylesheet" href="~/css/chessboard.css" />
    <link rel="stylesheet" href="~/css/offline.css" />

    <link rel="stylesheet" href="~/lib/cm-chessboard-master/assets/extensions/markers/markers.css" />
    <link rel="stylesheet" href="~/lib/cm-chessboard-master/assets/extensions/promotion-dialog/promotion-dialog.css" />
}
<div class="row justify-content-center" style="background-color:#302e2b">
    <div id="colBoardContainer" class="col-auto ps-4 pe-4 pe-lg-0 align-items-center d-flex">
        <div id="boardContainer" class="mx-auto w-100">
            <div id="auxDiv"></div>
            <!--OPPONENT CONTAINER-->
            <div id="opponentInfo" class="pt-1 pb-1">
                <div class="p-1 fw-semibold d-flex gap-2 align-items-center rounded" style="background-color:#525c66">
                    <div class="rounded rounded bg-success border border-white border-2" style="width:30px; height:30px;">
                        <img src="~/assets/img/stockfish.svg" class="img-fluid"/>
                    </div>
                    <span class="text-white">STOCKFISH ENGINE</span>
                </div>

            </div>

            <!--BOARD CONTAINER-->
            <div id="board" class="shadow-lg"></div>

            <!--USER CONTAINER-->
            <div id="userInfo" class="pt-1 pb-1">
                <div class="p-1 fw-semibold d-flex gap-2 align-items-center rounded" style="background-color:#525c66">
                    <div class="rounded rounded bg-info border border-white border-2" style="width:30px; height:30px;">
                        <img src="~/assets/img/user.png" class="img-fluid" />
                    </div>
                    <span asp-authenticated="false" class="text-white">GUEST</span>
                    <span asp-authenticated="true" class="text-white">@Context.User?.Identity?.Name</span>

                </div>

            </div>

        </div>
    </div>
    <div class="col-12 col-lg-3" style="background-color:#302e2b">
        <div id="boardSideBar" class="p-2 h-100">
            <div class="d-flex flex-column h-100 rounded p-4" style="background-color:#45423e">
                <div class="h-100 d-flex flex-column text-white">
                    <h3 class="fw-bold text-center border-bottom border-1" style="color:#525c66; border-color:#525c66 !important">MOVE HISTORY</h3>

                    <div id="moveHistoryDiv" class="flex-grow-1 m-2">
                        <table class="table table-dark table-responsive table-borderless" style="background-color: transparent !important">
                            <thead>
                            <tr>
                                <th scope="col" style="background-color: transparent !important">#</th>
                                <th scope="col" style="background-color: transparent !important">From</th>
                                <th scope="col" style="background-color: transparent !important">To</th>
                            </tr>
                            </thead>
                            <tbody id="moveHistoryTable" style="overflow-y:scroll">

                            </tbody>
                        </table>
                    </div>
                    <div id="playerPieceTeamConfig" class="d-flex flex-column gap-2 flex-shrink-1 pb-2">
                        <div>
                            <input type="radio" class="btn-check" name="colorOptions" id="white" autocomplete="off" checked>
                            <label class="btn btn-light w-100 h-100 d-flex align-items-center justify-content-center" for="white"><span>WHITE</span></label>
                        </div>
                    
                        <div>
                            <input type="radio" class="btn-check" name="colorOptions" id="black" autocomplete="off">
                            <label class="btn btn-dark w-100 h-100 d-flex align-items-center justify-content-center" for="black">BLACK</label>
                        </div>
                     
                    </div>

                </div>
                <button id="startAIGame" class="btn btn-lg btn-success w-100 align-self-end fw-bolder rounded-pill">START GAME</button>

            </div>
        </div>
    </div>
    <div class="modal fade" id="endGameModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered text-white">
            <div class="modal-content border border-2 border-success bg-dark">
                <div class="modal-header border-0">
                    <h1 class="modal-title fs-2" id="endGameTitle"></h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div id="endGameBody" class="modal-body fs-4 border-success">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="module" src="https://cdn.jsdelivr.net/npm/cm-chessboard@8/src/Chessboard.js"></script>
    <script type="module" src="~/js/offline.js"></script>
}
