@section Stylesheets
{
    <link rel="stylesheet" href="~/css/chessboard.css" />
}
<div id="board"></div>
@section Scripts
{
    <script type="module" src="https://cdn.jsdelivr.net/npm/cm-chessboard@8/src/Chessboard.js"></script>
    <script type="module" src="~/js/test.js"></script>
}
