@inject IViewLocalizer Localizer

<nav asp-active-controller-action="Account:LogIn SignUp" asp-active-add="false" id="navbar" class="navbar navbar-expand-sm border border-1">
    <div class="container-fluid">
        <div class="d-flex align-items-center gap-2">
            <a class="d-sm-none text-dark" data-bs-toggle="offcanvas" href="#navbarOffcanvas">
                <i class="fa-solid fa-bars"></i>
            </a>
            <a asp-action="Index" asp-controller="Home" class="navbar-brand p-0">
                <div class="d-flex align-items-center gap-2 border border-1">
                    <img src="~/assets/img/template.webp" alt="Logo" width="30" height="24" />
                    <span class="d-none d-sm-block">BRAND</span>
                </div>
            </a>
        </div>

        <div class="offcanvas offcanvas-start w-75" id="navbarOffcanvas">
            <div class="offcanvas-header border border-1">
                <div class="d-flex align-items-center gap-2 border border-1">
                    <img src="~/assets/img/template.webp" alt="Logo" width="30" height="24" />
                    <span>BRAND</span>
                </div>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav border border-1">
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Home" class="nav-link active">@Localizer["Home"]</a>
                    </li>
                    <li class="nav-item">
                        <a asp-active-controller-action="Home:Index" asp-active-class-add="active" class="nav-link">@Localizer["Link"] 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">@Localizer["Link"] 3</a>
                    </li>
                </ul>
            </div>
        </div>
        <partial name="Navbar/_NavbarLogin" />
    </div>
</nav>