@inject IViewLocalizer Localizer

<div class="d-flex justify-content-end gap-1">
    <button class="btn btn-sm btn-outline-primary">@Localizer["Sign Up"]</button>
    <button class="btn btn-sm btn-outline-secondary">@Localizer["Log In"]</button>
</div>