@inject IViewLocalizer Localizer
@model ChessWebApp.Models.ViewModels.SignUpVm
@{
    ViewData["Title"] = Localizer["Sign Up"];
}
@section Stylesheets
{
    <link rel="stylesheet" href="~/css/login-signup.css" />
}
<div class="row p-4 min-vh-100 d-flex flex-column justify-content-center align-items-center">


    <div class="col-10 col-md-8 col-lg-6 col-xl-5 d-flex flex-column text-white bg-black p-4 rounded shadow-lg">
        <div class="d-flex justify-content-center mb-4 mt-2">
            <a asp-action="Index" asp-controller="Home"> <img src="~/assets/img/logo.svg" height="80px" width="80px" /></a>
        </div>
        <form method="post" class="needs-validation" novalidate>
            <div id="errorMessageDiv" class="invalid-feedback bg-danger p-2 text-center fs-6 text-white mb-3">
                <span id="errorMessage" asp-validation-for="ErrorMessage"></span>
            </div>
            <div class="invalid-feedback" style="display:block;">
                <span asp-validation-for="Email"></span>
            </div>
            <div class="input-group mb-3">
                <label asp-for="Email" class="input-group-text"><i class="fa-solid fa-envelope"></i></label>
                <input asp-for="Email" class="form-control">
            </div>
            
            <div class="invalid-feedback" style="display:block;">
                <span asp-validation-for="Username"></span>
            </div>
            <div class="input-group mb-3">
                <label asp-for="Username" class="input-group-text"><i class="fa-solid fa-user"></i></label>
                <input asp-for="Username" class="form-control">
            </div>
            
            <div class="invalid-feedback" style="display:block;">
                <span asp-validation-for="Password"></span>
            </div>
            <div class="input-group mb-3">
                <label asp-for="Password" class="input-group-text"><i class="fa-solid fa-lock"></i></label>
                <input asp-for="Password" class="form-control">
            </div>
            <div class="invalid-feedback" style="display:block;">
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="input-group mb-3">
                <label asp-for="ConfirmPassword" class="input-group-text"><i class="fa-solid fa-lock"></i></label>
                <input asp-for="ConfirmPassword" class="form-control">
            </div>
            <button class="btn btn-lg btn-outline-success w-100 mt-4" type="submit">Sign Up</button>

        </form>
        <div class="d-flex justify-content-center mt-4">
            <span class="me-2">@Localizer["Already have an account?"]</span>
            <a asp-action="LogIn" asp-controller="Account" class="text-success ms-1">@Localizer["Log In"]</a>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/login.js"></script>
}


